<html>
<head>
    <meta charset="utf-8"/>
    <title>Zoodel</title>
    <link type="text/css" rel="stylesheet" href="css/trix.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="js/trix-core.js"></script>
    <script src="js/colab.js"></script>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/socketio.js"></script>

    <script>

        var lastReceivedGreatestSeqNum;

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }
        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        var flag = 0;

        {#        namespace = '/insert';#}
        {#        socket = io.connect('http://' + document.domain + ':' + location.port + namespace, {'forceNew':true});#}
        {#        var loc = 'http://' + document.domain + ':' + location.port + namespace, heartBeatSetTimeout;#}
        {#        console.log('http://' + document.domain + ':' + location.port + namespace);#}
        {##}
        {#        socket.on('keyPressEventSocket', function (msg) {#}
        {#            console.log("Char Code: " + msg.data + ", Position : " + msg.position + ", received SID from server: " + msg.sid + ", and user is " + msg.user);#}
        {#        });#}

        function insertChar(event) {
            var keyvalue = event.charCode;
            var guestUserName = getCookie("guestCookie");
            var position = document.getElementById("textarea").editor.getSelectedRange()[0];
            console.log(keyvalue, position);
            socket.emit('insert', {char: keyvalue, pos: position, userName: guestUserName});

        }

        function deleteChar(event) {
            var keyvalue = event.keyCode;
            var guestUserName = getCookie("guestCookie");
            var position = document.getElementById("textarea").editor.getSelectedRange()[0];
            if (keyvalue == 8) {
                console.log(keyvalue, position);
                socket.emit('insert', {char: keyvalue, pos: position, userName: guestUserName});
            }// backspace
            else if (keyvalue == 46) {
                console.log(keyvalue, position);
                socket.emit('insert', {char: keyvalue, pos: position, userName: guestUserName});
            } // delete
            else {
                console.log("do nothing");
            }
        }

        function heartbeat(guestName) {
            heartBeatSetTimeout = setInterval(function () {
                var times = new Date().getTime();
                var position = document.getElementById("textarea").editor.getSelectedRange()[0];
                $.ajax({
                    url: '/heartbeat',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({
                        userName: guestName,
                        timeStamp: times,
                        cursorPosition: position,
                        lastGreatestSequenceNumber: lastReceivedGreatestSeqNum
                    }),
                    success: function (data) {
                        if (data != 'None') {
                            console.log("heartbeat sent and received : User Count : " + data.userCount);
                            console.log("heartbeat sent and received : User Position : " + data.userPosition);
                            if (typeof(Storage) !== "undefined") {
                                localStorage.setItem("userCount", parseInt(data.userCount));
                            }

                                                        $.each(data.transactions, function (key, value) {
                                                            var id = value.id;
                                                            $.each(value.changes, function (k, v) {

                                                            });
                                                        });
                        }
                    }
                });
            }, 5000); //every 5 seconds
        }

        function performTasksForGuest(guestName) {
            document.getElementById("invalidGuestName").style.display = "none";
            document.getElementById("loginSection").style.display = "none";
            document.getElementById("textareaSection").style.display = "block";
            document.getElementById('textarea').value = "";
            document.getElementById('textarea').addEventListener("keypress", insertText);
            document.getElementById('textarea').addEventListener("keydown", deleteText);
            document.getElementById('textarea').addEventListener("paste", detectPaste);
            document.getElementById("displayName").textContent = guestName;
            heartbeat(guestName);
        }

        function loginAsGuest() {
            var guestName = document.getElementById("UserName").value;
            $.ajax({
                url: '/login',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({userName: guestName}),
                success: function (data, sStatus, jqXHR) {
                    if (data == "invalid") {
                        document.getElementById("invalidGuestName").style.display = "block";
                    } else {
                        console.log("User Count : " + data.userCount + ", User pos : " + data.userPosition);
                        if (typeof(Storage) !== "undefined") {
                            localStorage.setItem("userCount", parseInt(data.userCount));
                            localStorage.setItem("userPosition", parseInt(data.userPosition));
                        }
                        createCookie("guestCookie", guestName, 1);
                        performTasksForGuest(guestName);
                    }
                }
            });
        }


        function logOut() {
            document.getElementById("loginSection").style.display = "block";
            document.getElementById("textareaSection").style.display = "none";
            localStorage.removeItem("textAreaValue");
            localStorage.removeItem("userCount");
            localStorage.removeItem("userPosition");
            localStorage.removeItem("pendingChanges");
            localStorage.removeItem("sentChanges");
            clearTimeout(heartBeatSetTimeout);
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                eraseCookie(cookies[i].split("=")[0]);
            }
            $.ajax({
                url: '/deinitializeCall',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({userName: ''}),
                success: function (data, sStatus, jqXHR) {
                    console.log(data);
                }
            });
        }

    </script>

    <script type="text/javascript">

        function clearText() {
            $.ajax({
                url: '/clearTextArea',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({userName: ''}),
                success: function (data, sStatus, jqXHR) {
                    console.log("cleared");
                }
            });
        }


    </script>
</head>
<style>


    @font-face {
        font-family: quicksand;
        src: url(fonts/Quicksand-Regular.otf);
    }

    body {
        font-family: quicksand;
    }

    .whiteText {
        color: white;
    }

    #AppName {
        text-shadow: 5px 5px #6e1d37;
    }

    #trix-toolbar-2 {
        display: none;
    }
</style>

<body style="background:   #8577bb   ">

<div id="gConnect" align="center">
    <br/><br/>
    <h1 style="color: white "><span id="AppName"><b>ZOODEL</b></span></h1><br/>
    <h2 style="color: white ">~ A Collab editor using transactional approach</h2>

    <div id="loginSection" style="style:none; margin: auto">
        <br/><span style="color:white">- Under Prof. Sharad Mehrotra</span><br/><br><br/>
        <img src="images/ucilogo.png" width="100px"/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="login-form">
            <h1>Login as a guest</h1>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a guest username" id="UserName">
                <i class="fa fa-user"></i>
            </div>
            <button type="button" class="log-btn" onclick="loginAsGuest()">Log in</button>
            <br/>
            <br/>
            <span style="color:red; display: none" id="invalidGuestName"><b>Guest Name Already Taken!</b></span>
        </div>
    </div>
    <br/>

</div>
<div id="textareaSection" style="display: none; margin: auto">
    <br/>
    <div align="left" style="margin-left: 200px; color : white">
        <h3>Welcome <b><i><span id="displayName"></span></i></b>!</h3>
        <button type="button" class="log-btn" style="width:100px; " onclick="logOut()">Log out</button>

        <button type="button" class="log-btn" style="width:100px; display: none;" onclick="clearText()">Clear</button>
        <br/><br/>
    </div>
    <div id="usersOnline">Currently Online : <textarea id="userNames" disabled></textarea></div>
    <trix-editor class='trix-content' name='content' id='textarea'></trix-editor>


</div>

</body>

<script>

    if (getCookie("guestCookie") != "") {
        performTasksForGuest(getCookie("guestCookie"));
    } else {
        document.getElementById("loginSection").style.display = "block";
        document.getElementById("textareaSection").style.display = "none";
        if (typeof heartBeatSetTimeout !== 'undefined') {
            clearTimeout(heartBeatSetTimeout);
        }
    }
</script>


</html>