<html>
<head>
    <meta charset="utf-8"/>
    <title>Zoodel</title>
    <link type="text/css" rel="stylesheet" href="css/trix.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="js/trix-core.js"></script>
    <script src="js/colab.js"></script>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/socketio.js"></script>
</head>
<style>


    @font-face {
        font-family: quicksand;
        src: url(fonts/Quicksand-Regular.otf);
    }

    body {
        font-family: quicksand;
    }

    .whiteText {
        color: white;
    }

    #AppName {
        text-shadow: 5px 5px #6e1d37;
    }

    #trix-toolbar-2 {
        display: none;
    }
</style>

<body style="background:   #8577bb   ">

<div id="gConnect" align="center">
    <br/><br/>
    <h1 style="color: white "><span id="AppName"><b>ZOODEL</b></span></h1><br/>
    <h2 style="color: white ">~ A Collab editor using transactional approach</h2>

    <div id="loginSection" style="style:none; margin: auto">
        <br/><span style="color:white">- Under Prof. Sharad Mehrotra</span><br/><br><br/>
        <img src="images/ucilogo.png" width="100px"/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="login-form">
            <h1>Login as a guest</h1>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a guest username" id="UserName">
                <i class="fa fa-user"></i>
            </div>
            <button type="button" class="log-btn" onclick="loginAsGuest()">Log in</button>
            <br/>
            <br/>
            <span style="color:red; display: none" id="invalidGuestName"><b>Guest Name Already Taken!</b></span>
        </div>
    </div>
    <br/>

</div>
<div id="textareaSection" style="display: none; margin: auto">
    <br/>
    <div align="left" style="margin-left: 200px; color : white">
        <h3>Welcome <b><i><span id="displayName"></span></i></b>!</h3>
        <button type="button" class="log-btn" style="width:100px; " onclick="logOut()">Log out</button>

        <button type="button" class="log-btn" style="width:100px; display: none;" onclick="clearText()">Clear</button>
        <br/><br/>
    </div>
    <div id="usersOnline">Currently Online : <div contenteditable="true" id="userNames" enabled></div></div>
    <trix-editor class='trix-content' name='content' id='textarea'></trix-editor>


</div>

</body>

</html>